[submodule "client"]
	path = client
	url = https://github.com/Programming-Sai/Fertilizer-Recommendation-System.git
[submodule "server"]
	path = server
	url = https://github.com/Programming-Sai/Fertilizer-Recommendation-Engine-PROLOG.git
